@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-area="" asp-controller="Surveys" asp-action="CreateNewSurvey" class="btn btn-lg btn-primary" >Create New Survey</a>
</div>
