@model SurveyApp.Models.Surveys.SurveyResultViewModel
@{
    ViewData["Title"] = "My Survey";
}

<h1>@Model.Name</h1>
<h3>@Model.Description</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Question</th>
        </tr>
    </thead>        
    <tbody>
        @foreach (var question in Model.Results)
        {
            <tr>
                <td><b>@question.Content</b></td>
            </tr>
            @foreach(var answer in question.Answers)
            {
                <tr>
                <td>@answer.Content</td>
                </tr>
            } 
        }
    </tbody>
</table> 
